* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Dosis', sans-serif;
    color: white;
}

.container {
    width: 500px;
    background: rgb(20, 18, 18);
    background-image: url(img/background.jpg);
    display: block;
    padding: 20px 20px;
    margin: 0 auto;
}

.profile {
    margin-top: 35px;
    text-align: center;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
    object-fit: cover;
    object-position: center center;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: -5px;
}

h2 {
    font-family: 'Comforter', cursive;
    font-size: 25px;
    font-weight: 100;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.post-destaque {
    width: 490px;
    border-radius: 15px;
    height: 310px;
    background: rgb(255, 255, 255);
    margin: 20px 5px 10px 5px;
}

.post-destaque a {
    text-decoration: none;
}

.post-destaque img {
    width: 490px;
    border-radius: 15px 15px 0 0;
    height: 230px;
    object-fit: cover;
    object-position: 100% 65%;
}
 
.post-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: rgb(20, 18, 18);
    margin-left: 15px;
     
}

.post-subtitle {
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(63, 66, 63);
    font-size: 22px;
    margin-top: -10px;  
}

.posts{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    list-style: none;
    justify-content: center;
    margin-top: 10px;    
    margin-bottom: 20px;       
}

.posts li {
    width: 235px;
    height: 235px;
    margin: 20px 5px 10px 5px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    justify-self: start;
}

.posts a {
    text-decoration: none;
}

.posts img {
    width: 235px;
    border-radius: 15px 15px 0 0;
    height: 170px;
    object-fit: cover;
    object-position: 100% 60%;
}

.posts span {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: rgb(20, 18, 18);
    margin-left: 15px;
    text-decoration: none;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(63, 66, 63);
    font-size: 20px;
    padding: 0px;
    margin-left: 15px;
    margin-top: -6px;  
}

.footer {
    background: white;
    border-radius: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(0, 0, 0);  
    bottom: 0; 
    padding: 10px 0;
    width: auto;
}

.final {
    display: block;
    font-family: 'Bebas Neue', cursive;
}